/*
    1.0 General
    2.0 Sign up
    3.0 Connect wallet
    4.0 Create project
    5.0 Explore
*/


/* General */

.background{
    background: rgb(254,248,246);
    min-height: calc(100vh - 185px);
    padding: 50px 0;
}

/* Sign up */

.auth-background{
    height: calc(100vh - 85px);
    background: rgb(254,248,246);
}

.submit-button{
    bottom: 5%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 130px;
}

.form{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 40vw;
}

.input{
    display: grid;
    padding: 10px 50px;
}

.form-input{
    padding: 10px;
}

/* Connect wallet */

.wallet-option{
    align-items: center;
    background: darksalmon;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px 10px;
    width: 300px;
}

/* Create project */

.add-milestone-button{
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

.create-button{
    margin: 50px auto;
    padding: 20px 40px;
    text-align: center;
    width: 130px;
}

.milestone-save-button{
    margin-right: 50px;
    position: absolute;
    right: 0;
}

.milestone-title{
    text-align: start;
    padding: 0 50px;
}

.project-form{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 80vw;
}

.project-form-input{
    padding: 10px;
    width: 80%;
}

.project-form-label{
    width: 20%;
}

.project-input{
    display: flex;
    /*justify-content: space-between;*/
    padding: 10px 50px;
    text-align: start;
}

.total-fund-text{
    font-weight: bold;
}

/* Explore */

.card{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: 500px;
    margin: 30px;
    width: calc(50% - 70px);
}

.card a{
    color: black;
    text-decoration: none;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-image{
    height: 200px;
}

.card-text{
    padding: 20px;
}

/* Project */

.divider-line{
    flex: 1;
    height: 1px;
    background: black;
}

#project{
    padding: 50px 30px;
}

.project-img{
    height: 300px;
    margin: unset;
    margin-right: 30px;
    width: 500px;
}

.project-general{
    display: flex;
}
