/*
    1.0 General
    2.0 Sign up
    3.0 Connect wallet
    4.0 Create project
    5.0 Explore
*/


/* General */

.background{
    /*background: rgb(254,248,246);*/
    background: #fff;
    min-height: calc(100vh - 185px);
    padding: 50px 0;
}

/* Home */
.home-banner{
    background-image: url(https://i.ibb.co/D5HPn31/plan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.home-caption{
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 35%;
}

.home-start-project{
    background: #fff;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    top: 40%;
    
}

/* Sign up */

.auth-background{
    height: calc(100vh - 85px);
    background: rgb(254,248,246);
}

.submit-button{
    bottom: 5%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 130px;
}

.form{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 40vw;
}

.input{
    display: grid;
    padding: 10px 50px;
}

.form-input{
    padding: 10px;
}

/* Connect wallet */

.wallet-option{
    align-items: center;
    background: darksalmon;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px 10px;
    width: 300px;
}

/* Create project */

.add-milestone-button{
    padding: 10px 20px;
    text-align: center;
    margin: 20px;
}

.conversion-text{
    color: rgb(128, 128, 128);
    font-size: 0.9em;
    margin: 10px;
    padding-left: 10px;
}

.create-button{
    margin: 50px auto;
    padding: 20px 40px;
    text-align: center;
    width: 130px;
}

.milestone-save-button{
    margin-right: 50px;
    position: absolute;
    right: 0;
}

.milestone-title{
    text-align: start;
    padding: 0 50px;
}

.project-form{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 80vw;
}

.project-form-input{
    padding: 10px;
    width: 80%;
}

.project-form-label{
    width: 20%;
}

.project-input{
    display: flex;
    /*justify-content: space-between;*/
    padding: 10px 50px;
    text-align: start;
}

.total-fund-text{
    font-weight: bold;
    margin-bottom: 0;
}

/* Explore */

.card{
    background-color: rgba(255,255,255);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0,.1);
    height: 450px;
    margin: 30px;
    /*width: calc(50% - 70px);*/
    width: 280px;
}

.card a{
    color: black;
    text-decoration: none;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-image{
    display: block;
    height: 200px;
    width: 100%;
}

.card-text{
    padding: 0 20px;
}

.card-text-desc{
    color: rgb(128, 128, 128);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 65px;
    overflow: hidden;
}
/* Project */

.divider-line{
    flex: 1;
    height: 1px;
    background: black;
}

.pledge-button{
    margin: 0 30px 0 60px;
    background: #4caf50;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.pledge-container{
    background: #fff;
    border-top: 1px solid #ccc;
    bottom: 0;
    display: flex;
    justify-content: end;
    margin-left: -30px;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.pledge-container form{
    margin: auto 0;
}

#project{
    padding: 50px 30px 60px;
}

.project-img{
    display: block;
    height: 400px;
    margin: auto;
}

.project-img-container{
    background: #fff;
    border: 1px solid #ccc;
    height: 400px;
    margin: unset;
    margin-right: 30px;
    width: 700px;
}

.project-general{
    display: flex;
}

/* Profile */

.claim-button{
    background: #4caf50;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 8px;
}

.profile-background{

}

.profile-project{
    border: 1px solid #ccc;
    display: flex;
    height: 230px;
    margin: 25px 10px;
    width: 70vw;
}

.profile-project-category{
    background: rgb(254,248,246);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    height: fit-content;
    padding: 0 5px;
    text-align: center;
    width: fit-content;
}

.profile-project-container{
    margin: auto;
}

.profile-project-image{
    height: 100%;
    width: 200px;
}

.profile-project-header{
    align-items: center;
    display: flex;
}

.profile-project-header a{
    color: unset;
    text-decoration: none;
}

.profile-project-text{
    margin-left: 15px;
}

.profile-project-text h2{
    margin: 5px 10px 10px 0px;
}

.profile-project-text p{
    margin: 5px 0px;
}

.profile-project-comparison{
    display: flex;
    align-items: center;
}
/* Vertical Nav */
.vertical-nav {
    list-style: none;
    /*margin: 0;*/
    padding: 0;
    text-align: center;
    width: 200px;
}
  
.vertical-nav li {
    margin: 0;
}
  
.vertical-nav li a {
    display: block;
    padding: 10px;
    
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
  
.vertical-nav li:last-child a {
    border-bottom: none;
}

/* Contribution */
.contr-table {
    /*border-collapse: collapse;
    border-spacing: 0;*/
    margin: auto;
    margin-bottom: 5%;
    width: 80%;
}

.contr-table-header{
    background:#faebd7;
    display: flex;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 10px;
}

.contr-table-row{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    margin: 10px 0;
    padding: 10px;
}

.col-project{
    margin: 0 20px;
    width: 15%;
}

.col-project a{
    color: #000;
    text-decoration: none;
}

.col-amount{
    margin: 0 20px;
    width: 15%;
}

.col-tx{
    margin: 0 20px;
    width: 45%;
    word-wrap: break-word;
}

.col-time{
    margin: 0 20px;
    width: 10%;
}

.total-cont{
    background: white;
    border-top: 1px solid #ccc;
    bottom: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
}
